<div class="sidebar">
  <div class="logo">
    <h2>InvenGest Admin</h2>
  </div>
  <nav class="menu">
    <div class="menu-item" routerLink="/dashboard" routerLinkActive="active">
      <span>📊 Dashboard</span>
    </div>
    <div class="menu-item" routerLink="/inventario" routerLinkActive="active">
      <span>📦 Inventario</span>
    </div>
    <div
      class="menu-item"
      routerLink="/movimientos-inventario"
      routerLinkActive="active"
    >
      <span>🔄 Mov. Inventario</span>
    </div>
    <div class="menu-item" routerLink="/reportes" routerLinkActive="active">
      <span>📊 Reportes</span>
    </div>
    <div class="menu-item" routerLink="/ventas" routerLinkActive="active">
      <span>💰 Ventas</span>
    </div>
    <div
      class="menu-item"
      routerLink="/historial-ventas"
      routerLinkActive="active"
    >
      <span>📜 Historial Ventas</span>
    </div>
    <div
      class="menu-item"
      routerLink="/buscar-producto"
      routerLinkActive="active"
    >
      <span>🔍 Buscar Producto</span>
    </div>
    <div class="menu-item" routerLink="/alertas" routerLinkActive="active">
      <span>🔔 Alertas</span>
    </div>
    <div class="menu-item" routerLink="/backups" routerLinkActive="active">
      <span>💾 Gestión Backups</span>
    </div>
    <div class="menu-item" routerLink="/perfil" routerLinkActive="active">
      <span>👤 Perfil</span>
    </div>
    <div class="menu-item logout-btn" (click)="logoutService.openModal()">
      <span>📤 Cerrar sesión</span>
    </div>
  </nav>
</div>

<div class="main-content">
  <div class="header">
    <h1>Lista de Productos</h1>
    <input
      type="text"
      class="search-bar"
      placeholder="Buscar productos..."
      [(ngModel)]="filtro"
      (ngModelChange)="validarFiltro()"
      maxlength="30"
      [ngClass]="{ invalido: !filtroValido && filtro.length > 0 }"
    />
    <span *ngIf="!filtroValido && filtro.length > 0" class="error-text">
      Solo se permiten letras y números (máx. 30 caracteres).
    </span>
  </div>

  <!-- Contenedor con scroll -->
  <div class="inventory-container">
    <div class="inventory-grid">
      <div
        class="inventory-item"
        *ngFor="let producto of productosFiltrados"
        [attr.data-estado]="producto.idEstado"
      >
        <h3>{{ producto.nombre }}</h3>
        <p><strong>ID:</strong> {{ producto.idProducto }}</p>
        <p><strong>Categoría:</strong> {{ producto.idCategoria }}</p>
        <p><strong>Precio Venta:</strong> ${{ producto.precioVenta }}</p>
        <p><strong>Costo Compra:</strong> ${{ producto.costoCompra }}</p>
        <p><strong>Stock:</strong> {{ producto.stock }} unidades</p>
        <p><strong>Ubicación:</strong> {{ producto.ubicacion }}</p>
        <p><strong>Estado:</strong> {{ producto.idEstado }}</p>
      </div>
    </div>
  </div>
</div>
